#exercise-component-numberpad {
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
}

#exercise-component-numberpad>button {
    height: 10vh;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    min-width: 20vw;
}

#exercise-component-numberpad>button:hover {
    cursor: pointer;
}

#exercise-component-numberpad-box {
    display: flex;
    align-items: center;
    justify-content: center;
}