#exercise-component-numberpad {
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
}

#exercise-component-numberpad>button {
    height: 10vh;
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    min-width: 20vw;
}

#exercise-component-numberpad>button:hover {
    cursor: pointer;
}

#exercise-component-numberpad-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#exercise-component-exercise-display,
#exercise-component-exercise-input {
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    #exercise-component-numberpad>button {
        height: 10vh;
        min-width: 30vw;
    }
}